apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

nameSuffix: -prod

commonLabels:
  env: prod

patches:
  - target:
      kind: Deployment
      name: cohortservice
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: cohortservice
      spec:
        replicas: 2
        template:
          spec:
            containers:
            - name: cohortservice
              resources:
                limits:
                  memory: "512Mi"
                  cpu: "500m"
              env:
              - name: SPRING_PROFILES_ACTIVE
                value: prod
              - name: AWS_REGION
                value: us-east-1
              - name: S3_BUCKET_NAME
                value: finance-documents-prod
  - target:
      kind: Deployment
      name: processingservice
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: processingservice
      spec:
        replicas: 2
        template:
          spec:
            containers:
            - name: processingservice
              env:
              - name: SPRING_PROFILES_ACTIVE
                value: prod
              - name: AWS_REGION
                value: us-east-1
