apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

nameSuffix: -stg

commonLabels:
  env: stg

patches:
  - target:
      kind: Deployment
      name: cohortservice
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: cohortservice
      spec:
        template:
          spec:
            containers:
            - name: cohortservice
              env:
              - name: SPRING_PROFILES_ACTIVE
                value: stg
