apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

nameSuffix: -prod

commonLabels:
  env: prod

patches:
  - target:
      kind: Deployment
      name: cohortservice
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: cohortservice
      spec:
        replicas: 2
        template:
          spec:
            containers:
            - name: cohortservice
              resources:
                limits:
                  memory: "512Mi"
                  cpu: "500m"
              env:
              - name: SPRING_PROFILES_ACTIVE
                value: prod
  - target:
      kind: Deployment
      name: eureka-server
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: eureka-server
      spec:
        # Keeping replicas at 1 for simplicity (Avoids complex peer-aware clustering config)
        replicas: 1
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"
