apiVersion: apps/v1
kind: Deployment
metadata:
  name: finance-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: finance-ui
  template:
    metadata:
      labels:
        app: finance-ui
    spec:
      containers:
      - name: finance-ui
        image: finance-ui:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 80
        livenessProbe:
          tcpSocket:
            port: 80
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            memory: "128Mi"
            cpu: "200m"
          requests:
            memory: "64Mi"
            cpu: "100m"
---
apiVersion: v1
kind: Service
metadata:
  name: finance-ui
spec:
  selector:
    app: finance-ui
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP
