server:
  port: 8080

spring:
  jpa:
    properties:
      hibernate:
        jdbc:
          time_zone: Asia/Kolkata
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: false
  datasource:
    url: "${DB_URL:jdbc:postgresql://finance-db.cluster-prod.us-east-1.rds.amazonaws.com:5432/mydb}"
    driver-class-name: org.postgresql.Driver
  kafka:
    bootstrap-servers: "${KAFKA_BOOTSTRAP_SERVERS:b-1.xxxx.kafka.us-east-1.amazonaws.com:9092,b-2.xxxx.kafka.us-east-1.amazonaws.com:9092}"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    org:
      springframework: INFO
    com:
      nous:
        cohortservice: INFO
