apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

nameSuffix: -dev

commonLabels:
  env: dev

patches:
  - target:
      kind: Deployment
      name: cohortservice
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: cohortservice
      spec:
        template:
          spec:
            containers:
            - name: cohortservice
              env:
              - name: SPRING_DATASOURCE_URL
                value: jdbc:postgresql://postgres-dev:5432/mydb
              - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
                value: kafka-dev:9092
              - name: SPRING_PROFILES_ACTIVE
                value: dev
  - target:
      kind: Deployment
      name: processingservice
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: processingservice
      spec:
        template:
          spec:
            containers:
            - name: processingservice
              env:
              - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
                value: kafka-dev:9092
  - target:
      kind: Deployment
      name: kafka
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: kafka
      spec:
        template:
          spec:
            containers:
            - name: kafka
              env:
              - name: KAFKA_ZOOKEEPER_CONNECT
                value: "zookeeper-dev:2181"
              - name: KAFKA_ADVERTISED_LISTENERS
                value: "PLAINTEXT://kafka-dev:9092"
